<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
  <meta charset="UTF-8">
  <title>SMURFEZ BULK PROFILE UPDATER</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
  <script src="/app.js"></script>
  <link href="style.css" rel="stylesheet">
</head>

<body class="container-fluid">
  <div ng-controller="accounts">
    <h2>{{title}}</h2>
    <br>
    <div class="row">
      <div class="col-lg-3">
        <input id="name" ng-model="name" type="text" placeholder="Name" class="form-control">
      </div>
      <div class="col-lg-3">
        <input id="password" ng-model="password" type="text" placeholder="Password" class="form-control">
      </div>
      <div class="col-lg-3">
        <button class="btn btn-primary" ng-click="pushaccount()">Add Account</button>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-lg-6">
        <table class="table">
          <thead>
            <th>Name</th>
            <th>Password</th>
            <th></th>
          </thead>
          <tbody>
            <tr ng-repeat="acc in accounts">
              <td>{{acc.name}}</td>
              <td>{{acc.password}}</td>
              <td>
                <span class="fa fa-edit" ng-click="selectEntry($index)" data-toggle="modal" data-target="#edit-entry"></span>
                &nbsp;&nbsp;
                <span class="fa fa-trash" ng-click="deleteEntry($index)"></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <button ng-if="accounts.length !==0 " class="btn btn-success" ng-click="start()" data-toggle="modal" data-target="#status">START</button>
    <div class="modal fade" id="edit-entry" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Edit Account</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-lg-6">
                  <input type="text" class="form-control" ng-model="editname">
                </div>
                <div class="col-lg-6">
                    <input type="text" class="form-control" ng-model="editpassword">
                  </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" ng-click="updateEntry()" data-dismiss="modal">Save</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="status" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">STATUS</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <label ng-repeat="stat in status">
                  {{stat}}
                </label>
                <!--<i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>-->
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
    <div>
</body>

</html>
